body{
    margin: 0;
}
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

// fade
.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

//
.item-enter,
.item-leave-to {
  transform: translateY(30px);
  opacity: 0;
}
.item-enter-active,
.item-leave-active {
  transition: all 0.3s ease;
}